<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)), url(https://images.unsplash.com/photo-1533421821268-87e42c1d70b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1078&q=80);">
  <div class="text-center">
    <h1>Meus Pastels</h1>
    <p>Change your life. Eat a pastel.</p>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="cards">
      <% @pastels.each do |pastel| %>
      <div class="card m-2" style="width: 18rem;">
        <%= link_to pastel, class: 'btn' do %>
        <%= cl_image_tag pastel.photo, class: 'card-img-top' %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= pastel.name %></h5>
          <div class="d-flex justify-content-between">
            <p class="card-text"><%= pastel.description %></p>
            <p class="card-text float-right">€ <%= pastel.price %></p>
          </div>
        </div>
        <div class="d-flex justify-content-between align-items-center m-2">
          <%= link_to 'Details', pastel, class: 'btn btn-outline-secondary' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>






