<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)), url(https://images.unsplash.com/photo-1533421821268-87e42c1d70b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1078&q=80);">
  <div class="text-center">
    <h1>Meus Pastels</h1>
    <p>Eat a pastel. Change your life.</p>
  </div>
</div>

<div class="main-container">
  <div class="pastel-section col-8">

    <!-- Search -->
    <% if params[:query].present? %>
      <h1 class="text-center">Search Results</h1>
    <% end %>

    <div class="row d-flex justify-content-center card-section">
      <div class="cards bg-white">
        <% @pastels.each do |pastel| %>
        <div class="card card-shadow m-2" style="max-width: 18rem;">
          <%= link_to pastel, class: 'btn' do %>
          <%= cl_image_tag pastel.photo, class: 'card-img-top' %>
          <% end %>

          <!-- Review Modal button -->
          <span>
            <button type="button" class="badge badge-primary btn-review" data-toggle="modal" data-target="#reviewModalCenter-<%= pastel.id %>">
            <i class="fas fa-comments"></i> <p> Reviews! </p></button>
          </span>

          <!-- End of Review Modal Button -->

          <!-- Review Modal -->

          <div class="modal fade" id="reviewModalCenter-<%= pastel.id %>" tabindex="-1" role="dialog" aria-labelledby="reviewModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="reviewModalLongTitle"><%= pastel.name %> Reviews</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <% pastel.orders.each do |order| %>
                    <div class="card-product">
                      <i class="fas fa-quote-left"></i>
                      <i class="fas fa-quote-right"></i>

                      <img class="avatar ml-2" src="https://kitt.lewagon.com/placeholder/users/papillard" />

                      <div>
                        <h2 class="text-muted ml-4"><%= order.review %></h2>

                        <p class="ml-4 mb-0">-<em><%= order.user.first_name %></em>-</p>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- End of Review Modal -->

          <div class="card-body">
            <h5 class="card-title"><%= pastel.name %></h5>
            <p class="card-text"><%= pastel.description %></p>
            <p class="card-text"><%= pastel.stock %> pastels available</p>
          </div>

          <div class="d-flex justify-content-between align-items-center m-2">

            <!-- Order modal button -->

            <!-- disable order button if stock below 0-->
            <% if pastel.stock <= 0 %>
              <%= link_to new_order_path, {'data-toggle' =>  "modal", 'data-target' => "#orderModalCenter-#{pastel.id}", class: 'btn btn-success disabled'} do %>
              <i class="fas fa-plus mr-1"></i>Order
              <% end %>

            <% else %>
              <%= link_to new_order_path, {'data-toggle' =>  "modal", 'data-target' => "#orderModalCenter-#{pastel.id}", class: 'btn btn-success'} do %>
              <i class="fas fa-plus mr-1"></i>Order
              <% end %>
            <% end %>

            <!-- End of Order modal button -->

            <!-- Order Modal -->
            <div class="modal fade" id="orderModalCenter-<%= pastel.id %>" tabindex="-1" role="dialog" aria-labelledby="orderModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLongTitle">Please confirm quantity and delivery date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <%= simple_form_for @order, validate: true do |f| %>
                    <%= f.input :quantity, validate: { min: '0', max: "#{pastel.stock}" } %>
                    <%= f.input :order_date, as: :string, input_html: { class: 'flatpickr-input'} %>
                    <%= f.input :pastel_id, as: :hidden, :input_html => { value: pastel.id } %>
                    <div class="d-flex justify-content-between">
                      <%= f.submit class: 'btn btn-primary' %>
                      <%= f.button :button, 'Cancel', :type => 'reset', class: "btn btn-outline-secondary", data: { dismiss: "modal", target: "orderModalCenter-#{pastel.id}" } %>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <!-- End of Order modal -->
            <p class="card-text float-right">€ <%= pastel.price %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div
  id="map" class="col-4"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>

</div>

<!-- Footer -->

<div class="footer d-flex justify-content-center align-items-center">
    <p>MeusPastels was made with <i class="fas fa-coffee"></i> at Le Wagon</p>
</div>









