<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)), url(https://images.unsplash.com/photo-1533421821268-87e42c1d70b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1078&q=80);">
  <div class="text-center">
    <h1>Meus Pastels</h1>
    <p>Eat a pastel. Change your life.</p>
  </div>
</div>

<div class="main-container">
  <div class="pastel-section col-8">
    <div class="row d-flex justify-content-center card-section">
    <div class="cards">
      <% @pastels.each do |pastel| %>
      <div class="card card-shadow m-2" style="max-width: 18rem;">
        <%= link_to pastel, class: 'btn' do %>
        <%= cl_image_tag pastel.photo, class: 'card-img-top' %>
        <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= pastel.name %></h5>
          <p class="card-text"><%= pastel.description %></p>
        </div>
        <div class="d-flex justify-content-between align-items-center m-2">

          <!-- modal button -->

          <!-- disable order button (+alert) if stock below 0-->
          <% if pastel.stock <= 0 %>
            <%= link_to new_order_path, {'data-toggle' =>  "modal", 'data-target' => '#orderModalCenter', class: 'btn btn-success disabled'} do %>
            <i class="fas fa-plus mr-1"></i>Order
            <% end %>

            <div class="alert alert-danger alert-dismissible" role="alert">
              <strong>Holy guacamole!</strong> It looks like we're sold out.
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

          <% else %>
            <%= link_to new_order_path, {'data-toggle' =>  "modal", 'data-target' => '#orderModalCenter', class: 'btn btn-success'} do %>
            <i class="fas fa-plus mr-1"></i>Order
            <% end %>
          <% end %>
          <!-- End of modal button -->

          <!-- Order Modal -->
          <div class="modal fade" id="orderModalCenter" tabindex="-1" role="dialog" aria-labelledby="orderModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="orderModalLongTitle">Please confirm quantity and delivery date</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= simple_form_for @order, validate: true do |f| %>
                  <%= f.input :quantity, validate: { min: '0', max: "#{pastel.stock}" } %>
                  <%= f.input :order_date %>
                  <%= f.input :pastel_id, :as => :hidden, :input_html => { :value => pastel.id } %>
                  <div class="d-flex justify-content-between">
                    <%= f.submit class: 'btn btn-primary' %>
                    <%= f.button :button, 'Cancel', :type => 'reset', class: "btn btn-outline-secondary", data: { toggle: "modal", target: "#orderModalCenter" } =%>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!-- End of Order modal -->
          <p class="card-text float-right">€ <%= pastel.price %></p>
        </div>
      </div>
      <% end %>
    </div>
    </div>
  </div>
  <div
  id="map" class="col-4"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>









