<div class="row justify-content-center">
  <div class="col-6 text-center">
    <%= cl_image_tag @pastel.photo, {:size => "360x280", :crop=>"fill"} %>
    <h2><%= @pastel.name %></h2>
    <p>Description: <%= @pastel.description %></p>
    <p>Price: € <%= @pastel.price %></p>
    <p>Available: <%= @pastel.stock %></p>
    <% if policy(@pastel).destroy? %>
    <%= link_to 'Remove', pastel_path(@pastel), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
    <% if policy(@pastel).edit? %>
    <%= link_to 'Edit', edit_pastel_path(@pastel), class: 'btn btn-outline-secondary' %>
    <% end %>


  </div>
</div>








