<%= simple_form_for @pastel, validate: true do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.input :stock %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <div class="d-flex justify-content-between">
    <%= f.submit class: 'btn btn-primary mb-2' %>
    <%= link_to 'Cancel', pastels_path, class: 'btn btn-outline-secondary mb-2' %>
  </div>
<% end %>
