<h1> Pastel id =  <%= @order.pastel_id%> </h1>


<h2> User id = <%= @order.user_id%></h2>
<h3> Quantity <%= @order.quantity  %> Pastels</h3>
<h3> Review Pastels</h3>
<h3> <%= @order.review  %> </h3>

<%= link_to 'Update Order', edit_order_path(@order), class: 'btn btn-outline-secondary btn-sm' %>
<%= link_to 'Checkout', order_path(@order), class: 'btn btn-outline-secondary btn-sm' %>
